@import "utils/styles.module.scss";


.restaurant-page {
    background-color: $bg-color;
    color: black;

    padding: 10px;

    height: 100%;
    box-sizing: border-box;
    overflow: none;

    &__content {
        height: calc(100% - #{$list-entry-height});

        overflow-y: scroll;

        & > h2 {
            padding-bottom: 10px;
            margin-bottom: 0px;
            border-bottom: 1px solid black;
        }

        & > button {
            width: 100%;
            text-align: left;
            font-size: large;
            color: black;
            padding: 10px 0px;
            border-bottom: 1px solid black;
        }
    }
}
