
.settings-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    justify-content: start;
    align-items: center;

    padding: 40px;
    box-sizing: border-box;

    overflow: hidden;

    color: black;

    & > h1 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    & > div {
        display: flex;
        flex-direction: column;

        justify-content: start;
        align-items: center;

        color: #333;

        & > input {
            padding: 5px;

            border: 1px solid black;
            border-radius: 5px;

            color: #555;
        }
        & > button {
            margin-top: 15px;
            padding: 5px;

            border: 1px solid black;
            border-radius: 5px;

            color: #555;
        }
    }
}
