
$dark-brown-col: #673423;
$brown-col: #854f34;
$light-brown-col: #d4aa81;

$green-col: rgb(103, 183, 103);
$red-col: rgb(183, 103, 103);

$bg-color: #eee;
// $bg-color: $light-brown-col;
$bg-accent-color: gray;
// $bg-accent-color: $brown-col;

$header-height: 40px;
$footer-height: 60px;

$list-entry-height: 80px;

$search-result-height: 60px;