@use "sass:math";
@import "utils/styles.module.scss";


.app-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    &__header {
        position: relative;

        min-height: $header-height;
        height: $header-height;
    }
    &__content {
        height: 100%;
    }
    &__footer {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        justify-content: space-evenly;
        align-items: center;

        background-color: $bg-accent-color;

        min-height: $footer-height;
        height: $footer-height;
    }
}
